:root {
    --col: 33%;
    --pad: 10px;
}
@media screen and (max-width: 800px) {
    :root {
        --col: 50%;
        --pad: 5px;
    }
}

.flex_p {
    display: flex;
    flex-wrap: wrap;
}
.flex_img {
    flex: 0 0 var(--col);
    padding: var(--pad);
}
