<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survivalな理想郷｜トイガンインプレ</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="css/materialize.min.css" rel="stylesheet">
  <script defer src="js/materialize.min.js"></script>
  <link href="css/font.css" rel="stylesheet">
  <script defer src="js/vue.global.prod.js"></script>
  <script defer src="js/deleteAdvertising.js"></script>
  <script defer type="module" src="js/toygun.js"></script>
</head>

<body>
  <div id="header">
    <header-comp :active_title="active_title"></header-comp>
  </div>
  <div id="main-contents" v-cloak>
    <main class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="center-align">トイガンインプレ</h1>
        </div>
        <div class="col s12">
          <h4>電動ガン</h4>
        </div>
      </div>
      <ul class="tabs">
        <li class="tab col s4" v-for="gun in elegunList"><a :href="'#' + gun.id" class="grey-text text-darken-4">{{ gun.name }}</a></li>
      </ul>
      <div v-for="gun in elegunList" :id="gun.id" class="col s12">
        <p v-html="gun.desc"></p>
        <div class="row">
          <div class="col m4 s12" v-for="img in gun.imgs">
            <img :src="img" class="materialboxed myImages" :class="imgClass">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>メーカー</th>
              <th>パーツ名称</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="value in gun.tableValue">
              <td>{{ value.maker }}</td>
              <td>{{ value.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col s12">
          <h4>ガスガン</h4>
        </div>
      </div>
      <ul class="tabs">
        <li class="tab col s4" v-for="gun in gasgunList"><a :href="'#' + gun.id" class="grey-text text-darken-4">{{ gun.name }}</a></li>
      </ul>
      <div v-for="gun in gasgunList" :id="gun.id" class="col s12">
        <p v-html="gun.desc"></p>
        <div class="row">
          <div class="col m4 s12" v-for="img in gun.imgs">
            <img :src="img" class="materialboxed myImages" :class="imgClass">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>メーカー</th>
              <th>パーツ名称</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="value in gun.tableValue">
              <td>{{ value.maker }}</td>
              <td>{{ value.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col s12">
          <h4>エアコキ</h4>
        </div>
      </div>
      <ul class="tabs">
        <li class="tab col s4" v-for="gun in airList"><a :href="'#' + gun.id" class="grey-text text-darken-4">{{ gun.name }}</a></li>
      </ul>
      <div v-for="gun in airList" :id="gun.id" class="col s12">
        <p v-html="gun.desc"></p>
        <div class="row">
          <div class="col m4 s12" v-for="img in gun.imgs">
            <img :src="img" class="materialboxed myImages" :class="imgClass">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>メーカー</th>
              <th>パーツ名称</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="value in gun.tableValue">
              <td>{{ value.maker }}</td>
              <td>{{ value.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  <div id="footer" v-cloak>
    <footer-comp></footer-comp>
  </div>
</body>

</html>
