<IfModule mod_rewrite.c>
  RewriteEngine On

  # 実際のファイルやディレクトリが存在する場合は、それを優先
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # すべてのリクエストをindex.htmlにリダイレクト
  RewriteRule . /index.html [L]
</IfModule>
